<div class="row">
  <div class="large-6 large-centered columns">
    <h1><%= @strain.name %></h1>
    <p><%= @strain.abstract %></p>
    <p><%= @strain.category %></p>
    <div class="progress large-12 success round"><span class="meter" style="width: <%= @strain.rating * 10 %>%"></span></div>
    <% if current_user %>
      <%= form_for @smokein, url: new_smokein_path do |f| %>
        <%= f.hidden_field :strain_id, value: @strain.id%>
        <%= f.hidden_field :user_id, value: current_user%>
        <%= f.submit "Smoke In", :disable_with => 'Thanks', class: "button" %>
      <% end %>
    <% else %>
      Log In
    <% end %>
  </div>
</div>
