<div class="row">
  <% @trends.each do |trend| %>
    <div class="trend row">
      <%= link_to strain_path(trend.id) do %>
        <div class="small-3 columns">
        <%= image_tag("/assets/#{ cycle("Golden", "Silver", "Bronze") }Medal.png", alt: "#{(@trends.index(trend) + 1).ordinalize} Place") %>
        </div>
        <div class="small-9 columns">
          <div class="trend-name">
            <%= trend.name %>
          </div>
          <div class="trend-cat">
            <div class="trend-<%= trend.category.downcase %>">
              <%= image_tag("/assets/#{trend.category}Icon.png", class: "category-icon") %>
              <%= trend.category.downcase %>
            </div>
          </div>
          <div class="trend-rate">
            <%= trend.rating %>/10
          </div>
          <div class="arrow-down"></div>
          <div class="trend-progress"><div class="trend-meter" style="width: <%= trend.rating * 10 %>%"></div></div>
        </div>
      <% end %>
    </div>
  <% end %>
</div>
