<div id="head-nav">
  <%= link_to image_tag("/assets/ST-Logo.png", alt: "ST", id: "head-logo"), trends_path %>
  <%= link_to image_tag("/assets/Search-Icon.png", alt: "Search", id: "head-search"), strains_path %>
  <div id="head-title">
    <%= @title %>
  </div>
</div>
<div id="loggedin-div">
  <%= image_tag("/assets/Lock.png", id: "loggedin-lock") %>
  <%= link_to "Logout",  signout_path, id: "sign_out", id: "logout-link" %>
</div>